<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Member.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
        <providers>
          <add name="XmlSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
        </providers>
      </siteMap>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />

    <authentication mode="Forms" >
      <forms name="frmAuthenticate" loginUrl="LoginForm.aspx" >
        <credentials passwordFormat="Clear">
          <user name="test" password="test" />
        </credentials>
      </forms>
    </authentication>
    <roleManager enabled="true"></roleManager>

    <membership defaultProvider="defaultProvider">
      <providers>
        <add name="defaultProvider" type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="LocalSqlServer"
             minRequiredPasswordLength="6"
             minRequiredNonalphanumericCharacters="0"
             requiresQuestionAndAnswer="false"/>
      </providers>
    </membership>

  </system.web>

  <location path="Maintenance">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Report">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Booking">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

</configuration>
